
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title> Homepage</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="main-script.js"></script>
</head>

<body>
<div>
<h1>XIN CHAO</h1><br>

	<input type="text" id="txtRoom" placeholder="Nhap ten phong">
	<input type="button" id ="taoRoom" value="Tao phong">
	<h2>DANH SACH PHONG:</h2>
    </div>
</body>
</html>